
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; text-align:center;}

#up
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#up td, #up th 
{
	font-size:1em;
	text-align:right;
	border:1px solid #6699CC;
	padding:3px 7px 2px 7px;
}
#up th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
#up tr.alt td 
{
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
}

#up tr.even td 
{	
	background-color:#EAF2D3;
	text-align:right;
}

#smp
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#smp td, #smp th 
{
	font-size:1em;
	text-align:right;
	border:1px solid #6699CC;
	padding:3px 7px 2px 7px;
}
#smp th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
#smp tr.alt td 
{
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
}

#smp tr.even td 
{	
	background-color:#EAF2D3;
	text-align:right;
}

#smp_1core
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#smp_1core td, #smp_1core th 
{
	font-size:1em;
	text-align:right;
	border:1px solid #6699CC;
	padding:3px 7px 2px 7px;
}
#smp_1core th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
#smp_1core tr.alt td 
{
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
}

#smp_1core tr.even td 
{	
	background-color:#EAF2D3;
	text-align:right;
}
.baseline {color:#0080FF}
.nonewline 
{
	white-space: nowrap
}